.product-description {
	text-align:left;
}

.product-image img {
	max-width:100%;
}

.product-option-wrapper {
	margin-top:15px;
}

.cart-item-added {
	background-color:green;
}

.button {
	text-align:center;
	margin:0 auto;
	padding:0px;
}

.button-text {
	display:block;
	width:100%;
	height:100%;
	padding:8px;
}

.product-options-labels {
	display:none;
}

.product-option-price-standard:before {
	content: "Price ";
}

.product-option-price-member:before {
	content: "Member Price ";
}


.morrow-table-meal-form {
	position:absolute !important;
}


@media only screen and (min-width: 800px) {
	
	/**
	 * Styles for modal form
	 */
	.modal-form-wrapper {
		min-width: 600px;
	}
	

	
	
	.food-menu-item {
		margin-top:25px;
		display:inline-block;
	}
	
	.all-attendees-wrapper {
		height:0;
		transition: height .5s ease-in;
		overflow:hidden;
	}
	
	.all-attendees-wrapper.expanded {
		height:1000px;
	}
	
	.attendee-wrapper .form-item {
		display:inline-block;
	}
	
	.menu-description {
		margin-bottom:15px;
	}
	
	.meal-label {
		font-family:Verdana;
		font-weight:bold;
		display:block;
	}
	
	.modal-form-wrapper .button {
		display:inline-block;
		width:30%;
		padding:10px;
		margin-right:15px;
	}
	
	.modal-form-wrapper .form-actions {
		margin-top:20px;
	}

	.column {
		text-align:left;
	}
	
	.product-option-wrapper {
		margin-top:8px;
	}
	
	.product-options-labels {
		display:table-row;
		font-weight:800;
	}
	
	.product-option-header {
		border-bottom:solid 1px #666;
	}
	
	.product-option-price-standard:before,
	.product-option-price-member:before {
		content: "";
	}


	.product-option-add-to-cart .button {
		width:115px;
		font-size:0.75em;
		border-radius:5px;
		display:inline-block;
	}

	.product-option-add-to-cart .button.loading {
		width:130px;
	}
	
	.product-options {
		display:table;
	}
	
	.button-text {
		width:auto;
	}

	.button {
		text-align:right;
	}
	
	.product-image {
		float:left;
		margin-right:25px;
		margin-bottom:25px;
	}
	.product-image img {
		max-width:200px;
	}
	
	
	.product-option-wrapper {
		display:table-row;
	}

	.product-option-name,
	.product-option-price,
	.product-option-add-to-cart,
	.product-option-header {
		display:table-cell;
		padding:3px;
		margin-top:0px;
		width:150px;
		text-align:right;
	}
	
	.add-to-cart-quantity {
    height: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 3px;
    font-size: 0.75em;
    width:75px;
	}
	
	.add-to-cart-quantity input {
		padding:3px;
		border:none;
		vertical-align:baseline;
	}
	
	.product-option-header {
		width: auto;
	}

	
	.has-quantity {
		width: 225px;
	}
}